extends layout

block content
    div.container-fluid.bgLightGrey
        div.row
            div.container.bgRed
                div.block.h200
                    h1= title
                    p.cRed Welcome to #{title}
            div.container.bgWhite
                div.block.h50
                    ul.content.contentMiddle
                        li.pull-left
                            a(href="#") link1
                        li.pull-left
                            a(href="#") link1
                        li.pull-left
                            a(href="#") link1
                        li.pull-left
                            a(href="#") link1
                div.row
                    div.block.h600.bgBlue
